<amplify-authenticator>
    <ng-template amplifySlot="authenticated" let-user="user" let-signOut="signOut">
    <div class="container">
        <div id="content" style="background-color:rgb(234, 239, 245) !important">
            <div id="main-content">
                <mat-toolbar class="mat-elevation-z5" color="primary">
                    Welcome to RacerX {{ user.attributes.name }}!
                    <span class="spacer"></span>
                    <button class="mat-raised-button mat-accent pull-right" (click)="signOut()" style="float: right !important;">Sign Out</button>
                </mat-toolbar>
                <div *ngIf="user_role == 'Managers' && !!fundraisers">
                <mat-tab-group >
                    <div *ngIf="fundraisers.length > 0; else createBlock">
                        <mat-tab label="Basic Info">
                            <app-basic-info [fundraisers]="fundraisers" [user]="current_user" [user_role]="user_role"></app-basic-info>
                            <mat-card class="total-card">
                                <mat-card-header>
                                    <img mat-card-avatar src="favicon.ico">
                                    <mat-card-title><h1> {{total_donation_amount}} </h1></mat-card-title>
                                    <mat-card-subtitle><h1> donated out of ${{fundraisers[0].goal}} goal </h1></mat-card-subtitle>
                                </mat-card-header>
                                <mat-card-content>
                                    <div fxLayout="row">
                                        <h2>{{days_remaining}}</h2>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </mat-tab>
                        <mat-tab label="WebPage">
                                <div class="container ">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading"><h2>About Info</h2></div>
                                        <div class="panel-body">
                                            <mat-form-field class="example-width" appearance="fill">
                                            <mat-label>Give out your Company Info...</mat-label>
                                            <textarea rows="8" cols="40" matInput [(ngModel)]="about_info"></textarea>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                
                                    <div class="panel-heading"><h2>How are funds raised?</h2></div>
                                    <div class="panel-body">
                                        <mat-form-field class="example-width" appearance="fill">
                                            <mat-label>Leave a comment on why does the organization need funds?</mat-label>
                                            <textarea rows="8" cols="40" matInput [(ngModel)]="funds_comment">
                                            </textarea>
                                        </mat-form-field>
                                    <!-- <h3>
                                        Motorsports are expensive; the costs of acquiring one or more vehicles are high, 
                                        and when the costs of maintenance, fuel, and participation in races are taken into account then things really start to add up. 
                                        There are cases where the only reason a racer cannot compete is money; that’s where FundRacer comes in. 
                                        FundRacer will enable racers to have more opportunities by allowing anyone to donate to their team, 
                                        and it will empower local communities and supporters by giving them the opportunity to allow their favorite racer 
                                        to travel and participate in more events.
                                    </h3> -->
                                    </div>
                                    <button class="m-3 mat-raised-button mat-primary" color="green">Save</button>
                                
                                </div>
                        </mat-tab>
                        <mat-tab label="Donation levels">
                            <div class="container">
                                <button class="mat-raised-button mat-primary header-align-right" (click)="openDialog()">
                                    Add Donation Level
                                </button>
                                <div *ngFor="let item of level_list">
                                    <mat-card class="level-card" >
                                        <mat-card-title-group>
                                            <mat-card-title>Donation - ${{ item.money}}</mat-card-title>
                                            <mat-card-subtitle></mat-card-subtitle>
                                        </mat-card-title-group>
                                        <mat-card-content>
                                            <div fxLayout="row">
                                                <mat-card fxLayout="row" fxFlex="80%" class="center space-top">
                                                    <mat-card-content fxLayout.gt-sm="row">
                                                    <div fxLayout.gt-sm="column" fxFlex.gt-sm="40%">
                                                        <img mat-card-lg-image class="p-12" src="assets\dollar.jpg" >
                                                    </div>
                                                    <div fxLayout.gt-sm="column" fxFlex.gt-sm="50%" class="gutter">
                                                        <strong><a href="#">Donation Impact:</a></strong>
                                                        <ul>
                                                            <li>{{item.impact}}</li>
                                                        </ul>
                                                        <strong><a href="#">Donation Reward:</a></strong>
                                                        <ul>
                                                            <li>{{item.rewards}}</li>
                                                        </ul>
                                                    </div>
                                                    </mat-card-content>
                                                </mat-card>
                                            </div>
                                        </mat-card-content>
                                    </mat-card>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Members">
                            <app-members> </app-members>
                        </mat-tab>
                    </div>

                    <ng-template #createBlock>
                        <mat-tab label="Create Fundraiser">
                            <app-basic-info [fundraisers]="fundraisers" [user]="current_user" [user_role]="user_role" style="padding: 12px;"></app-basic-info>
                        </mat-tab>
                    </ng-template>
                </mat-tab-group>
                </div>

                <div *ngIf="user_role == 'Donors'">
                    <div *ngIf="fundraisers.length > 0; else noFundraisersBlock">
                    <mat-tab-group style="padding: 12px;">
                        <mat-tab label="Fundraiser">
                            <!-- <app-file-upload requiredFileType="image/png"></app-file-upload> -->
                            <div class="container">
                                <!-- <div class="jumbotron">
                                <h1>Welcome</h1>
                                <h1>RacerX FundRaiser</h1>
                                </div> -->
                                <app-basic-info [fundraisers]="fundraisers" [user]="current_user" [user_role]="user_role" style="padding: 12px;"></app-basic-info>
                                <mat-card class="total-card">
                                    <mat-card-header>
                                        <img mat-card-avatar src="favicon.ico">
                                        <mat-card-title>
                                            <h1> {{total_donation_amount}} </h1>
                                        </mat-card-title>
                                        <mat-card-subtitle>
                                            <h1> donated out of ${{fundraisers[0].goal}} goal </h1>
                                        </mat-card-subtitle>
                                    </mat-card-header>
                                    <mat-card-content>
                                        <div fxLayout="row">
                                            <h2>{{days_remaining}}</h2>
                                        </div>
                                    </mat-card-content>
                                </mat-card>
                                <div class="panel panel-primary">
                                <div class="panel-heading"><h2>About Info</h2></div>
                                <div class="panel-body">
                                    <p> 
                                        {{ about_info }}
                                    </p>
                                </div>
                                </div>
                            
                                <div class="panel panel-primary">
                                    <div class="panel-heading"><h2>How are funds raised?</h2></div>
                                    <div class="panel-body">
                                        <p> 
                                            {{ funds_comment }}
                                        </p>
                                    </div>
                                </div>
                                <!-- <input type="checkbox" [(ngModel)]="selectedAll" (change)="selectAll();"> Select All donations -->
                                <div *ngFor="let item of level_list">
                                    <mat-card class="level-card-donor" (click)="addDonationValue(item.money)">
                                        <mat-card-title-group>
                                            <mat-card-title>Donation - ${{ item.money}}</mat-card-title>
                                            <mat-card-subtitle></mat-card-subtitle>
                                        </mat-card-title-group>
                                        <mat-card-content>
                                            <div fxLayout="row">
                                                <mat-card fxLayout="row" fxFlex="80%" class="center space-top">
                                                    <mat-card-content fxLayout.gt-sm="row">
                                                    <div fxLayout.gt-sm="column" fxFlex.gt-sm="40%">
                                                        <img mat-card-lg-image class="p-12" src="assets\dollar.jpg" >
                                                    </div>
                                                    <div fxLayout.gt-sm="column" fxFlex.gt-sm="50%" class="gutter">
                                                        <strong><a href="#">Donation Impact:</a></strong>
                                                        <ul>
                                                            <li>{{item.impact}}</li>
                                                        </ul>
                                                        <strong><a href="#">Donation Reward:</a></strong>
                                                        <ul>
                                                            <li>{{item.rewards}}</li>
                                                        </ul>
                                                    </div>
                                                    </mat-card-content>
                                                </mat-card>
                                            </div>
                                        </mat-card-content>
                                    </mat-card>
                                </div>
                                    <!-- <mat-checkbox [(ngModel)]="checkbox_value" 
                                    class="example-ripple-checkbox">Set minimum donation amount</mat-checkbox> -->

                                    <!-- <mat-form-field class="example-ripple-form-field" appearance="fill">
                                        <input matInput [(ngModel)]="donation_amount" type="number" placeholder="Amount in dollars">
                                    </mat-form-field> -->

                                    <!-- <div class="row">
                                    <mat-slide-toggle>Would you like to add images to your Supporter levels?</mat-slide-toggle>
                                    </div> -->

                                    <!-- <button (click)="onDonate(donation_amount)" class="m-3 mat-raised-button mat-primary" color="green">Donate</button> -->
                                <mat-card class="donation-card">
                                    <mat-card-title-group>
                                        <mat-card-title>Help out this cause</mat-card-title>
                                    </mat-card-title-group>
                                    <mat-card-content>
                                        <div fxLayout="row">
                                            <mat-card fxLayout="row" fxFlex="80%" class="center space-top">
                                                <mat-card-content fxLayout.gt-sm="row">
                                                    <form autocomplete="off" [formGroup]="donateForm" (ngSubmit)="onDonate(donateForm.value)">
                                                        <div class="form-container">
                                                            <mat-form-field floatLabel="never">
                                                                <label>Full Name</label>
                                                                <input matInput type="text" formControlName="donor_name">
                                                            </mat-form-field>
                                                    
                                                            <mat-form-field floatLabel="never">
                                                                <label>Email</label>
                                                                <input matInput type="email" formControlName="donor_email">
                                                            </mat-form-field>
                            
                                                            <mat-form-field floatLabel="never">
                                                                <label>Amount</label>
                                                                <input id="donationValue" matInput type="number" min="1" placeholder="In dollars" formControlName="amount">
                                                            </mat-form-field>
                                                        </div>
                                                        <button class="mat-raised-button mat-primary" type="submit">Donate</button>
                                                    </form>
                                                </mat-card-content>
                                            </mat-card>
                                        </div>
                                    </mat-card-content>
                                </mat-card>
                              
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                    </div>
                    <ng-template #noFundraisersBlock>
                        <mat-card class="donation-card">
                            <mat-card-title-group>
                                <mat-card-title>No Fundraisers to show.</mat-card-title>
                            </mat-card-title-group>
                        </mat-card>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</ng-template>
</amplify-authenticator>
